{% extends "SHED/SHED_sidebar.html" %}
{% block main %}

<link rel="stylesheet" type="text/css" href="/static/styles/all_health.css">
<link rel="stylesheet" type="text/css" href="/static/styles/SHED3.css">

<body style="background-color: white;">
    <h1 style="padding-left:20px">Fuel Tank and Hose Permeation Tests for Recreational Engines and Vehicles -
        Confirmatory Program</h1>
    <ol>
        <li style="font-size:18;font-weight: bold;">Introduction and Scope
        </li>
        <p>This procedure outlines the test used to determine a motorcycle’s fuel tank permeation
            emissions. The test consists of two parts: preconditioning fuel soak and the permeation
            test run. The emissions that have permeated from the tank are measured by weighing a
            sealed fuel tank before and after a temperature-controlled soak. The procedure will be
            performed as described in the Code of Federal Regulations, Title 40 Part 1051.515 and
            1051.501. A modified preconditioning soak procedure described in Guidance Letter
            CCD-05-14 has also been applied.
            The procedure will not be performed in its entirety as found in the Code of Federal
            Regulations, Title 40 Part 1051.515, as requested by the client. The preconditioning soak
            and permeation test run will be performed once after the motorcycle has undergone
            mileage accumulation and emission testing. The procedure detailed below will represent
            the last portion of the Permeation Tank Test as detailed in the CFR, the portion
            represented after the Durability Testing.</p>
        <li style="font-size:18;font-weight: bold;">Principle of the Method
        </li>
        <p>
            The test has been developed to measure the rate of emissions permeating from a fuel
            tank, fuel hoses and all attached equipment. The procedure includes two parts: the
            preconditioning fuel soak and the test run.
            The preconditioning fuel soak lasts 20 weeks (or 10 weeks with an increased enclosure
            temperature) and is intended to fully saturate all components of the fuel tank with E10
            fuel, a 10% ethanol blend. All ports must be sealed. This includes the metal, hoses, vent
            plug rubber/plastic. The intent of the soak period is to force the hydrocarbon through the
            wall of the tank, rubber materials and all other components and saturate it to the point
            that the hydrocarbon rate emitting from the tank is stable. At the end of the
            preconditioning fuel soak, saturation level has been reached, losses are stable. Once
            saturation has been reached, the permeation test can be conducted. The tanks are re-filled
            with fresh fuel, weighed, left in the SHED for 14 days, and then re-weighed. The fuel
            emission rate of g/m 2 /day is calculated and measured against CEPA standards.
            The transfer of fuel into the fuel tanks is done in the Fuel Exchange Area (FEA). Fuel
            tanks are transferred on a cart to the Permeation Test SHED (SHED #3) and placed on
            tables which are directly above spill pallets. Between the tank and the pallet is a pan
            which will enable easy visual detection of a fuel spill should one occur. The tanks are
            weighed pre and post permeation test on the Sartorius FCA16EDE-HX, Explosion Proof
            Factory EX Complete Scale Balance which has a range from 0.01g gram x 16 kg.
            Throughout the preconditioning and permeation tests, the SHED is ventilated by
            mechanical draw to the outside of the building.
        </p>

        <li style="font-size:18;font-weight: bold;">Detection Limit</li>
        <p>
            The evaporative compound that is quantified and reported is gasoline, more specifically, the evaporative
            loss through the walls and rubber components of the tank. The balance range is from 0.01g gram x 16 kgs
            capacity. It has been specified by the manufacturer to have a repeatability of 0.05 g and a linearity of ±
            0.2 g.
        </p>
        <li style="font-size:18;font-weight: bold;">Interferences</li>
        <p>
            Prior to and during testing, all precautions are taken to avoid interferences due to leaks, construction activity, loss of power, etc.  If, in the opinion of the Quality Assurance officer or their designate, an activity or occurrence has impacted the test results significantly the test is voided and a non-conformance report is generated.  For more information regarding non-conformances please refer to SOP 11.41/*.*/S.
        </p>
        <li style="font-size:18;font-weight: bold;">Method Validation</li>
        <p>
            As required by <i>CEPA, 1999, Chapter 33, Part 7, Division 5,</i> the test methods used are in compliance with published reference methods found in the <i>Code of Federal Regulations (CFR), Title 40, Chapter I › Subchapter U - AIR POLLUTION CONTROLS › PART 1051 — CONTROL OF EMISSIONS FROM RECREATIONAL ENGINES AND VEHICLES ›  Subpart   F — Test Procedures</i> specifically, the following:
        </p>    
        <p style="margin-left:30">i.   Section 1051.515 – How do I test my fuel tank for permeation emissions?
        </p>
        <p style="margin-left:30" >ii.  Section 1051.501 – What procedures must I use to test my vehicles or engines? 
        </p> 
        
        <li style="font-size:18;font-weight: bold;">Sample Requirements</li>
             <ol>
                <li>
                   Arrival at the lab: When a fuel tank arrives at the ERMS facility, an authorization form supplied by the customer  and a form 7.11M/F1-ver*.* Chain of Custody - Fuel Tank Permeation Test Information are filled out and/or received:</li>
                    <p style="margin-left:40"> i.	These forms may be put into the log book or may be placed into the tank’s file for privacy reasons in the Confirmatory Program project manager’s office.  Any special handling instructions, condition of the sample and details specific to the sample are recorded.  The following is a sample of the information that is recorded: 
                    </p>    
                    <ul style="margin-left:45" >
                            <li>Unique sample I.D.</li>
                            <li>Sample I.D</li>
                            <li> Nominal capacity (Fuel Tank Capacity at Full manufacturer assigned value)</li>
                            <li>Internal surface area</li>
                            <li>Condition of tank</li>
                            <li>Any related information or special requirements</li>
                        </ul>
                        <p style="margin-left:40">The tank is visually inspected for anomalies and fuel leaks. If abnormalties are suspected or evident, the legal sample will not be accepted.
                    </p>
                    

                
            </ol>
            
        </p>
        <li style="font-size:18;font-weight: bold;">Detection Limit</li>
        <p>
            
        </p>
        <li style="font-size:18;font-weight: bold;">Detection Limit</li>
        <p>
            
        </p>
        <li style="font-size:18;font-weight: bold;">Detection Limit</li>
        <p>
            
        </p>
        <li style="font-size:18;font-weight: bold;">Detection Limit</li>
        <p>
            
        </p>
        <li style="font-size:18;font-weight: bold;">Detection Limit</li>
        <p>
            
        </p>
        <li style="font-size:18;font-weight: bold;">Detection Limit</li>
        <p>
            
        </p>
        <li style="font-size:18;font-weight: bold;">Detection Limit</li>
        <p>
            
        </p>
        <li style="font-size:18;font-weight: bold;">Detection Limit</li>
        <p>
            
        </p>
        <li style="font-size:18;font-weight: bold;">Detection Limit</li>
        <p>
            
        </p>
    </ol>

</body>
{% endblock %}